<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Router/etc/routes.xsd">
    <router id="admin">
        <route id="checkprerequisites" frontName="checkprerequisites">
            <module name="Experro_Connect" />
        </route>
    </router>
</config>
